<!--
// Copyright (c) 2021 Hugh Maaskant
// MIT License
-->

@page "/"

@using System.Threading
@using IoTAS.Shared.DevicesStatusStore
@using Serilog
@implements IAsyncDisposable
<div class="clock">@_updatedAt.ToString(DateTimeFormat)</div>

<div class="header">Device Status List</div>

@if (DeviceStatusList is null || DeviceStatusList.Count() == 0)
{
    <p>Currently there are no Devices to show ...</p>
}
else
{
    string cssColor;

    _onTimeCount = 0;
    _lateCount = 0;
    _overdueCount = 0;

    <table>
        <thead>
            <tr>
                <th>DeviceId</th>
                <th>First Registered</th>
                <th>Last Registered</th>
                <th>Last Seen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deviceStatus in DeviceStatusList)
            {
                TimeSpan howLongAgo = _updatedAt - deviceStatus.LastSeenAt;
                int secondsAgo = (int)Math.Round(howLongAgo.TotalSeconds);
                switch (secondsAgo)
                {
                    case <= 15:
                        cssColor = "ontime";
                        _onTimeCount++;
                        break;

                    case <= 30:
                        cssColor = "late";
                        _lateCount++;
                        break;

                    default:
                        cssColor = "overdue";
                        _overdueCount++;
                        break;
                }
                <tr>
                    <td style="text-align:right;">@deviceStatus.DeviceId</td>
                    <td>@deviceStatus.FirstRegisteredAt.ToString(DateTimeFormat)</td>
                    <td>@deviceStatus.LastRegisteredAt.ToString(DateTimeFormat)</td>
                    <td class=@cssColor>@deviceStatus.LastSeenAt.ToString(DateTimeFormat)</td>
                </tr>
            }
        </tbody>
    </table>

    <p class="summary">
        @if (_onTimeCount > 0)
        {<span>On time: <span class="ontime">@_onTimeCount</span>; </span>}
        @if (_lateCount > 0)
        {<span>Late: <span class="late">@_lateCount</span>; </span>}
        @if (_overdueCount > 0)
        {<span>Overdue: <span class="overdue">@_overdueCount</span>;</span>}
    </p>
}

@code {

    private static readonly string DateTimeFormat = "yyyy-MM-dd  HH:mm:ss";

    private Timer _timer;

    private DateTime _updatedAt;

    private int _onTimeCount;
    private int _lateCount;
    private int _overdueCount;

    [CascadingParameter(Name = "CascadingDeviceStatusList")]
    public IEnumerable<DeviceReportingStatus> DeviceStatusList { get; set; }

    protected override void OnInitialized()
    {
        _updatedAt = DateTime.Now;

        _timer = new Timer(async _ =>
        {
            _updatedAt = DateTime.Now;
            await InvokeAsync(StateHasChanged);
        }, null, 1000, 1000);

        Log.Information($"{nameof(Index)} initialized ...");
    }

    public async ValueTask DisposeAsync()
    {
        if (_timer is not null)
        {
            await _timer.DisposeAsync();
        }
    }
}